@import "@/app/styles/vars.scss";

.main {
  height: 100vh;
  padding-top: $header-height;
  overflow: hidden;
}

.container {
  padding: 2rem 10rem 0;
  height: 100%;
  width: 100%;
  display: flex;
  column-gap: 5rem;

  @media (max-width: 1300px) {
    padding: 2rem 5rem 0;
  }
}