@import "@/app/styles/vars.scss";

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.13);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.13);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.13);
  padding: 1.5rem 10rem;
  height: $header-height;
  position: fixed;
  font-weight: 500;
  gap: 1.5rem;

  @media (max-width: 1300px) {
    padding: 1.5rem 5rem;
  }
}

.logo {
  height: 50%;
  width: auto;
  font-size: 1.4rem;
  cursor: pointer;
}

.nav {
  display: flex;
  max-width: 50rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.active_nav_link {
  color: $active-link;
}